// [menu] : Determine the sublist height with the list class 
@mixin list-size (){
    @each $status,$size in $list-size{
        > ul.#{$status}{
            height: $size;
        }
    }
}

// [redaction] : Make the border top
@mixin bordet-top(){
    border-top : 2px solid black;
    padding: 20px 0px 20px 0px;
    position: relative;
}

@mixin block(){
    box-shadow: 10px 10px 30px 5px lighten(black,20);
    background-color: $color-block-bg;
}

