/* Button */

.btn {
    border : 0px;
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 14px;
    transition: transform 0.5s;
    color: $color-text;
    display: inline-block;
    padding: 6px 4px;
    cursor: pointer;
}

span.btn-span:hover .btn{
    transform: translate(-10px,0);
    left: 0px;
    
}

span.btn-span{
    margin: 5px;
    position: relative;
    display: inline-block;
    background-color:$color-button;
    border-radius: 5px;
    padding: 0px;
    transition: transform 0.5s;
    text-align: center;
    
}

span.btn-span:hover::after{
    opacity: 1;
    color: white;
    transform: translate(-50%,0);
}

span.btn-span::after{
    opacity: 0;
    right: 5%;
    top: 1px;
    position: absolute;
    content: "\00bb";
    color: $color-text;
    transition: opacity 0.5s, transform 0.5s;
    font-size: 1.3em;
   
}