/* --- Section --- */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0px 8px 8px 8px;
    @include block;
    margin-top: 30px ;
    padding:20px;

    h2{
        position: absolute;
        top: -29.3px;
        left: 0px;
        color: $color-text;
        background-color: $color-section-title;
        padding: 5px 10px ;
        font-weight: bold;
        border-top-right-radius: 12px;
    }

    &:not(:last-child){
        margin-bottom: 60px;
    }
}

