/* --------------------- PAGE ACTUS ---------------------*/

#actus section:first-of-type{
    border-radius : 7px;
    p{
        display: inline;
    }
}

#actus article{
    position: relative;
    background-color: #E5E5E5;
    padding: 10px;

    +article{
        margin-top: 10px;
    }

    a{
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    img{
        float: left;
        width: 160px;
        height: 120px;
        margin-right: 10px;
        margin-bottom: 15px;
    }
}

#actus article:first-of-type, #actus article:first-of-type img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#actus article:last-of-type, #actus article:last-of-type img{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#actus > section:first-of-type {
    display: block;
}

#actus > section:first-of-type > a {
    text-decoration: none;
    color: black;
    display: inline;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 1px 3px 1px 3px;

    &#linkDown, &:hover{
        background-color: red;
        color :white;
    }
}
