/* --------------------- PAGE ACTUS ---------------------*/

#actus section:first-of-type{
    border-radius : 7px;
    p{
        display: inline;
    }
}


#actus > section:first-of-type {
    display: block;
}

#actus > section:first-of-type > a {
    text-decoration: none;
    color: black;
    display: inline;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 1px 3px 1px 3px;

    &#linkDown, &:hover{
        background-color: red;
        color :white;
    }
}
