/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*################################################################
 *
 *              STYLE SHEET FOR GAZETTE
 *
 ###############################################################*/

/* --------------------- GENERAL ---------------------*/

html{
    scroll-behavior: smooth;
}

body{
    /* Dégradé du fond */
    --backgroud-color1: #E0E0E0;
    --background-color2 : #909090;
    /* Fond du titre des sections */
    --colorSectionTitle : red;
    /* Couleur du menu */
    --navColorDflt : rgba(255,255,255,0.8);
    /* Couleur du menu au survol */
    --navColorHvr : white;
    /* Couleur du texte du menu */
    --navLiColor : black;
    /* Couleur du texte du menu au survol */
    --navLiColorHvr : white; 
    /* Couleur du fond de l'item du menu au survol */
    --navLiColorBckgrdHvr: black;
    /* Couleur de l'ombre au survol des articles (index) */
    --colorShdwFigHvr : rgb(243, 124, 124);
}


/* Theme alternatif */
body[class='theme'] {
    /* Dégradé du fond */
    --backgroud-color1: rgba(238, 241, 248, 0.5);
    --background-color2 : rgba(183, 197, 238,0.5);
    /* Fond du titre des sections */
    --colorSectionTitle : rgb(15, 31, 133);
    /* Couleur du menu */
    --navColorDflt : rgba(78, 116, 231, 0.8);
    /* Couleur du menu au survol */
    --navColorHvr : rgb(78, 116, 231);
    /* Couleur du texte du menu */
    --navLiColor : rgba(230, 230, 241, 1);
    /* Couleur du texte du menu au survol */
    --navLiColorHvr : white; 
    /* Couleur du fond de l'item du menu au survol */
    --navLiColorBckgrdHvr : rgb(17, 17, 105);
    /* Couleur de l'ombre au survol des articles (index) */
    --colorShdwFigHvr : rgb(148, 148, 238);
}

h3{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 1.1em;
}

p {
    text-align: justify;
    font-size: 16px;
}

p + p, ul + p {
    margin-top : 10px;
}
em {
    font-style: italic;
}
a{
    color: #00D;
    text-decoration: none;
    cursor: default;
}
a:hover{
    text-decoration: underline;
}
a[href^=http]:hover::after{
    content: " ("attr(href)") " url(../images/lien_externe.gif);
}
strong{
    font-weight: bold;
}

body > header, main, body > footer{
    width: 900px;
}

body{
    font-family: Trebuchet, Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    background: linear-gradient(to bottom right, var(--backgroud-color1),var(--background-color2)) fixed;
    min-height: max-content;
}

blockquote {
    margin: 20px 30px;
    text-align: justify;
    quotes: "« " " »" "‹" "›";
    font-style: italic;
}



blockquote:before{
    content: open-quote;
}
blockquote:after{
    content: close-quote;
}

figcaption{
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    max-width: 270px;
    
}

ul{
    list-style: circle;
}

ul li{
    margin-left: 30px;
}


table th, table td, table{
    border: black 1px solid;
    text-align: left;
}

table{
    margin:  10px auto;
}

th{
    font-weight: bold;
    padding: 7px;
}

td{
    padding: 5px ;
    
}

tbody{
    padding: 10px;
}

.error{
    margin-top: 10px;
    border: 2px red solid;
    font-weight: 600;
    color : red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
}

.success{
    color : green;
    border :2px green solid;
    padding: 7px;
    text-align: center;
    width: 70%;
    font-weight: 600;
    align-self: center;
}

/* --- Section --- */
section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 10px 10px 15px 4px black;
    margin-top: 30px ;
    padding:20px;
}

section h2{
    position: absolute;
    top: -29.3px;
    left: 0px;
    color: white;
    background-color: var(--colorSectionTitle);
    padding: 5px 10px ;
    font-weight: bold;
    border-radius: 0px 12px 0px 0px;
}

section:not(:last-child){
    margin-bottom: 60px;
}


/* --- Header --- */
body > header{
    margin-top: 45px;
    margin-bottom: 20px;
    position: relative;
    background: url(../images/fond.png);
    height: 200px;
}
body > header h1{
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 24px;

}
body > header img{
    margin-top: 30px;
    margin-left: 10px;
}

/* --- Footer --- */
body > footer{
    
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

/* --- Menu --- */
nav {
    position: fixed;
    top: 0px;
    z-index: 5;
    height: 40px;
    width: 100%;
    
    background-color: var(--navColorDflt);
    transition-property: background-color;
    transition-duration: 0.5s;
}
nav:hover{
    background-color:var(--navColorHvr);
    
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--navLiColor);
    width: 100%;
    padding: 10px 30px;
}
nav>ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
/* Elements de la liste principale */
nav ul li{
    height: 40px;
    display: flex;
    transition-duration: 0.3s;
    margin-left: 0px;
}

nav li:hover{
    background-color: var(--navLiColorBckgrdHvr);
}

nav li:hover>a{
    text-decoration: none;
    color: var(--navLiColorHvr);
}

nav>ul>li:first-child{
    position: absolute;
    left: 0px;
}
nav>ul>li:last-child>a::before{
    content: "\2630\0020";
}

nav>ul>li:last-child>a{
    padding-left: 40px;
    padding-right: 70px;
}


nav>ul>li:last-child{
    position: relative;
    min-width: 200px;
}

/* Affichage de la sous liste */
nav>ul>li:last-child:hover > ul.all{
    height: 160px;
}
nav>ul>li:last-child:hover > ul.redacOrAdmin{
    height: 120px;
}

nav>ul>li:last-child:hover > ul.simpleUser{
    height: 80px;
}

/* Sous liste */
nav ul>li>ul {
    display: flex;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
    position: absolute;
    top :40px;
    left: 0px;
    width: 100%;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    border-radius: 0px 0px 10px 10px;
    
}

/* Element de la sous liste */
nav ul>li>ul>li{
    background-color: var(--navColorHvr);
    width: 100%;
}





/* --------------------- PAGE ARTICLE ---------------------*/

/* --- Article principal --- */

#article article {
    background-color: white;
    box-shadow: 5px 5px  15px 4px black;
    padding: 20px;
    border-radius: 10px 0px;
    padding-bottom: 5px;
}

#article article.with-picture{
    min-height: 250px;
}

/* Image */
#article article img{
    float: right;
    margin: 0px 0px 20px 20px ;
    width: 250px;
    height: 187px;
    border: solid 1px black;
}

#article figure{
    display: inline-block;
    margin: 16px;  
}

/* Listes */
article ul{
    list-style-type: none;
}

#article section blockquote ul{
    list-style-type: disc;
}
article ul li{
    margin-top: 4px;
}

article ul li:before{
    content: "\2611\0020";
}

article footer{
    border-top: #909090 solid 2px;
    padding-top: 4px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

article footer p{
    margin: 0px;
    font-size: 0.9em;
}


/* --- Réactions --- */
#article section {
    margin-top: 50px;
    border-radius: 0px 10px 10px 10px;
}

#article section li {
    margin-left: 25px;
}


/* --------------------- PAGE REDACTION ---------------------*/



/* Les derniers articles d'une sections (s'il y en a d'autres) */
#redaction article:not(:only-of-type):last-child{
    padding-bottom: 0px;
}

/* Bordure noir si on a une fonction, ou que ce n'est pas le seul article */
#redaction article:not(:only-of-type), #redaction article.haveFunction{
    border-top : 2px solid black;
    padding: 20px 0px 20px 0px;
    position: relative;
}

/* Titres */
#redaction article h4 {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: black;
    padding: 5px 6px ;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}
h3{
    font-weight: bold;
    margin-bottom: 20px;
}

/* Images */
#redaction article img{
    float: left;
    margin: 0px 20px 0px 0px;
    width: 150px;
    height: 200px;
    border : 1px solid black;
}

/* Empecher que le texte entoure les images */
#redaction article div.biography {
    padding-left: 170px;
}


/* --------------------- PAGE ACCUEIL ---------------------*/

#accueil figure img{
    border: black solid 1px;
 }

 #accueil figure {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 270px;
 }
 


#accueil section:not(#horoscope){
    flex-direction: row;
    justify-content: space-around;
}


#accueil a:hover{
    text-decoration: none;
}

#accueil a{
    position: relative;
}

#horoscope table{
    
    width: 700px;
    font-size: 0.8em;
}

#horoscope table p{
    font-size: 1em;
}

#horoscope th:nth-child(1){
    width: 105px;
}

#horoscope th:nth-child(2){
    width: 110px;
}

#horoscope td:nth-child(2){
    padding-right: 45px;
}

#horoscope td:nth-child(3){
    padding: 10px 10px;
    
}

#accueil img{
    width: 250px;
    height: 187px;
}

#accueil a figure {
    position: relative;
}

#accueil a figure aside{
    position: absolute;
    /* left: 10px;
    top: 1px; */
    width : 250px;
    height: 0px;

    opacity: 0;
    background-color: rgba(169, 161, 156, 0.9);
    color : black;
    font-size: 0.8em;

    display: flex;
    align-items: center;
    
    
    transition: all 0.3s 0.4s ease-in-out;
    overflow:hidden;
    border-top: 1px solid black;
}

#accueil a:hover figure aside{
    height: 187px;
    opacity: 1;
}

#accueil a figure aside p{
    font-size: 0.95em;
    margin: 15px;
    text-align: justify;
    overflow-wrap: anywhere;
}

/* --------------------- PAGE ACTUS ---------------------*/

#actus section:first-of-type{
    border-radius : 7px;
}

#actus section > form > p{
    display: inline;
}

#actus article{
    position: relative;
    background-color: #E5E5E5;
    padding: 10px;
}

#actus article + article{
    margin-top: 10px;
}

#actus article:first-of-type, #actus article:first-of-type img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#actus article:last-of-type, #actus article:last-of-type img{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#actus article a {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#actus section article img{
    float: left;
    width: 160px;
    height: 120px;
    margin-right: 10px;
    margin-bottom: 15px;
}

#actus button {
    display: inline;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#actus input {
    display: inline;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

#actus input:disabled {
    background-color: red;
    color :white;
}

#actus input:hover {
    background-color: red;
    color :white;
}

/* --------------------- PAGE INSCRIPTION / CONNEXION ---------------------*/


table.form td,  table.form {
   border: 0px;
}

table.form td.label{
    text-align: right;
}

table.form td.input{
    display: flex;
    justify-content: space-between;
}

table.form td.input select:only-child{
    width: 207px;
    /* padding: 3px; */
}

table.form td.checkbox{
    text-align: left;
    font-size: 0.95em;
}

table.form td.buttons{
    text-align: center;
}

table.form td.checkbox input[type="checkbox"]{
    margin-left: 40px;
}


table.form input[type="text"],table.form input[type="password"], table.form input[type="email"]{
    width: 200px;
    padding: 3px;
}

table.form input[type="submit"], table.form input[type="reset"]{
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    margin: 0px 15px;
    justify-content: center;
    transition: all 0.25s;
}

table.form input[type="submit"]:hover, table.form input[type="reset"]:hover{
    background-color: red;
    color :white;
}

/* table.form select{
    border: 1px solid grey;
} */

table.form tr{
    position: relative;
    
}

/* tooltip */

.info {
    cursor: default;
    color: darkblue;
    font-weight: bold;
}

.info:hover .infobulle{
    
    opacity: 1;
    visibility: visible;
    transform:scale(1) rotate(0);
}


.infobulle{
    opacity: 0;
    position: absolute;
    right: -200px;
    width: 190px;
    text-align: center;
    color:darkblue;
    font-weight: 500;
    font-size: 0.8em;
    
    background-color:rgba(135, 131, 130, 0.2);
    padding: 3px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    transition:all .25s;
    transform:scale(0) rotate(12deg);
} 



/* --------------------- PAGE PROTEGEE ---------------------*/

#protegee h3{
    margin-top: 10px;
}

#protegee li:not(:last-child){
    margin-bottom: 10px;
}


/* --------------------- PAGE COMPTE---------------------*/

#compte section img{
    width: 150px;
    height: 200px;
    align-self: center;
    border : 1px solid black;
    margin: 10px;
}