/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------- FIN DU RESET ---------------------*/

/* --------------------- STYLE GENERAL ---------------------*/
p {
    text-align: justify;
    font-size: 16px;
    
}
p + p {
    margin-top : 10px;
}
em {
    font-style: italic;
}
a{
    color: #00D;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a[href^=http]:hover::after{
    content: " ("attr(href)") " url(../images/lien_externe.gif);
}
strong{
    font-weight: bold;
}

body > header, main, body > footer{
    width: 900px;
}

body{
    font-family: Trebuchet, Arial, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.2;
    background: linear-gradient(to bottom right, #E0E0E0, #909090);
    min-height: max-content;
}

blockquote {
    margin: 20px 30px;
    text-align: justify;
    quotes: "« " " »" "‹" "›";
    font-style: italic;
}

blockquote:before{
    content: open-quote;
}
blockquote:after{
    content: close-quote;
}

figcaption{
    text-align: center;
    margin-top: 7px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    max-width: 270px;
    
}

figure{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

figure img{
   width: 90%;
   border: black solid 1px;
}

figure img:hover{
   box-shadow: 0px 0px 15px 5px rgb(243, 124, 124);
}

table th, table td, table{
    border: black 1px solid;
    text-align: left;
}

table{
    margin:  10px auto;
}

th{
    font-weight: bold;
    padding: 7px;
}

td{
    padding: 5px ;
    
}

tbody{
    padding: 10px;
}

/* --- Section TYPE 1 --- */
section.type1 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 10px 10px 15px 4px black;
    margin-top: 30px ;
    padding:20px;
    
}

section.type1 h2{
    position: absolute;
    top: -29.5px;
    left: 0px;
    color: white;
    background-color: red;
    padding: 5px 10px ;
    font-weight: bold;
    border-radius: 0px 12px 0px 0px;
}

section.type1:not(:last-child){
    margin-bottom: 60px;
}


/* --- Header --- */
body > header{
    margin-top: 45px;
    margin-bottom: 20px;
    position: relative;
    background: url(../images/fond.png);
    height: 200px;
}
body > header h1{
    font-weight: bold;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 24px;

}
body > header img{
    margin-top: 30px;
    margin-left: 10px;
}

/* --- Footer --- */
body > footer{
    
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

/* --- Menu --- */
nav {
    position: fixed;
    top: 0px;
    z-index: 5;
    height: 40px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}
nav:hover{
    background-color: white;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    width: 100%;
    padding: 10px 30px;
}
nav>ul {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
/* Elements de la liste principale */
nav ul li{
    height: 40px;
    display: flex;
}

nav li:hover{
    background-color: black;
}

nav li:hover>a{
    text-decoration: none;
    color: white;
}

nav>ul>li:first-child{
    position: absolute;
    left: 0px;
}
nav>ul>li:last-child>a::before{
    content: "\2630\0020";
}

nav>ul>li:last-child>a{
    padding-left: 40px;
    padding-right: 70px;
}


nav>ul>li:last-child{
    position: relative;
}

/* Affichage de la sous liste */
nav>ul>li:last-child:hover > ul{
    display: flex;
}

/* Sous liste */
nav ul>li>ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top :40px;
    left: 0px;
    width: 100%;
    
}

/* Element de la sous liste */
nav ul>li>ul>li{
    background-color: white;
    width: 100%;
}





/* --------------------- PAGE ARTICLE ---------------------*/

/* --- Article principal --- */

#article article {
    background-color: white;
    box-shadow: 5px 5px  15px 4px black;
    padding: 20px;
    border-radius: 10px 0px;
    padding-bottom: 5px;
}
/* Image */
#hymne{
    float: right;
    margin: 0px 0px 20px 20px ;
}

/* Titre de l'article */
#vote h2{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size: 1.1em;
}

/* Vidéos */
aside{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* Liens des votes */
#liensVote{
    margin-left: 30px;
}

#liensVote li{
    margin-top: 4px;
}

#liensVote li:before{
    content: "\2611\0020";
}

/* Footer du main */
main footer{
    border-top: #909090 solid 2px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

main footer p{
    margin: 0px;
    font-size: 0.9em;
}

/* --- Réactions --- */
#reactions {
    margin-top: 50px;
    border-radius: 0px 10px 10px 10px;
}
/* Liste de commentaires */
#reactions ul {
    list-style-type: circle ;
}

#reactions li {
    margin-left: 25px;
}


/* --------------------- PAGE REDACTION ---------------------*/

/* Tout les articles qui ne sont pas seul dans leur section */
#redaction article:not(:only-of-type) {
    position: relative;
    border-top : 2px solid black;
    padding: 20px 0px 20px 0px;
}

/* Les derniers articles d'une sections (s'il y en a d'autres) */
#redaction article:not(:only-of-type):last-child{
    padding-bottom: 0px;
}

/* Titres */
#redaction article h4 {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: black;
    padding: 5px 6px ;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
}
h3{
    font-weight: bold;
    margin-bottom: 20px;
}

/* Images */
#redaction article img{
    float: left;
    margin: 0px 20px 0px 0px;
    
}

/* Empecher que le texte entoure les images */
#redaction article:not(:only-of-type) p {
    padding-left: 170px;
}


/* --------------------- PAGE ACCUEIL ---------------------*/

#accueil section.type1:not(#horoscope){
    flex-direction: row;
    justify-content: space-between;
}

#accueil a:hover{
    text-decoration: none;
}

#horoscope table{
    
    width: 700px;
    font-size: 0.8em;
}

#horoscope table p{
    font-size: 1em;
}

#horoscope th:nth-child(1){
    width: 105px;
}

#horoscope th:nth-child(2){
    width: 110px;
}

#horoscope td:nth-child(2){
    padding-right: 45px;
}

#horoscope td:nth-child(3){
    padding: 10px 10px;
    
}

/* --------------------- PAGE ACTUS ---------------------*/

#actus article{
    position: relative;
    background-color: #E5E5E5;
    padding: 10px;
}

#actus article + article{
    margin-top: 10px;
}

#actus article:first-of-type, #actus article:first-of-type img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
#actus article:last-of-type, #actus article:last-of-type img{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#actus article a {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#actus section article img{
    float: left;
    width: 160px;
    margin-right: 10px;
    margin-bottom: 15px;
}


/* --------------------- PAGE INSCRIPTION ---------------------*/

#inscription section.type1 table td, #inscription section.type1 table {
   border: 0px;
}

#inscription section.type1 table td:first-child{
    text-align: right;
}

#inscription section.type1 table td:last-child:not(:only-child){
    display: flex;
    justify-content: space-between;
}

#inscription section.type1 table td[colspan="2"]{
    text-align: left;
    font-size: 0.95em;
}


#inscription input[type="text"],#inscription input[type="password"]{
    width: 200px;
    padding: 3px;
}

#inscription input[type="submit"], #inscription input[type="reset"]{
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px;
    font-weight: bold;
    margin: 0px 5px;
}

#inscription input[type="submit"]:hover, #inscription input[type="reset"]:hover{
    background-color: red;
    color :white;
}

#inscription select{
    border: 1px solid grey;
    border-radius: 5px;
    
}