/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   RESET
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*################################################################
 *
 *              STYLE SHEET FOR GAZETTE
 *
 ###############################################################*/
/* --------------------- COMMON ---------------------*/
html {
  scroll-behavior: smooth;
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.2em;
}

p {
  text-align: justify;
  font-size: 16px;
}

p + p, ul + p {
  margin-top: 10px;
}

em {
  font-style: italic;
}

a {
  color: #00D;
  text-decoration: none;
  cursor: default;
}

a:hover {
  text-decoration: underline;
}

a[href^=http]:hover::after {
  content: " (" attr(href) ") " url(../images/lien_externe.gif);
}

strong {
  font-weight: bold;
}

body {
  font-family: Trebuchet, Arial, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2;
  background: -webkit-gradient(linear, left top, right bottom, from(#E0E0E0), to(#909090)) fixed;
  background: linear-gradient(to bottom right, #E0E0E0, #909090) fixed;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

body > header, body > footer, body main {
  width: 900px;
}

blockquote {
  margin: 20px 30px;
  text-align: justify;
  padding: 10px;
  font-style: italic;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, 0.05);
}

figcaption {
  text-align: center;
  margin-top: 7px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  max-width: 270px;
}

ul {
  list-style: circle;
}

ul li {
  margin-left: 30px;
}

article ul li {
  margin-top: 5px;
}

table th, table td, table {
  border: black 1px solid;
  text-align: left;
}

table {
  margin: 10px auto;
}

table th {
  font-weight: bold;
  padding: 7px;
}

table td {
  padding: 5px;
}

table tbody {
  padding: 10px;
}

.error {
  margin-top: 10px;
  border: 2px red solid;
  font-weight: 600;
  color: red;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 70%;
}

.success {
  color: green;
  border: 2px green solid;
  padding: 7px;
  text-align: center;
  width: 70%;
  font-weight: 600;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

aside.link-banner {
  -webkit-box-shadow: 10px 10px 30px 5px #333333;
          box-shadow: 10px 10px 30px 5px #333333;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 4px 20px;
}

/* --- Section --- */
section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 8px 8px 8px;
  -webkit-box-shadow: 10px 10px 30px 5px #333333;
          box-shadow: 10px 10px 30px 5px #333333;
  background-color: white;
  margin-top: 30px;
  padding: 20px;
}

section h2 {
  position: absolute;
  top: -20px;
  left: -10px;
  color: white;
  background-color: #af1f1f;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 19px;
  border-radius: 12px;
}

section:not(:last-child) {
  margin-bottom: 60px;
}

/* --- Header --- */
body > header {
  margin-top: 45px;
  margin-bottom: 20px;
  position: relative;
  background: url(../images/fond.png);
  height: 200px;
}

body > header h1 {
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 24px;
}

body > header img {
  margin-top: 30px;
  margin-left: 10px;
}

/* --- Footer --- */
body > footer {
  margin-top: 30px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* --- Menu --- */
nav {
  position: fixed;
  top: 0px;
  z-index: 5;
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

nav:hover {
  background-color: white;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  width: 100%;
  padding: 10px 30px;
}

nav li {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  margin-left: 0px;
}

nav li:hover {
  background-color: black;
}

nav li:hover > a {
  text-decoration: none;
  color: white;
}

nav > ul {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav > ul > li:first-child {
  position: absolute;
  left: 0px;
}

nav > ul > li:last-child {
  position: relative;
  min-width: 200px;
}

nav > ul > li:last-child > a {
  padding-left: 40px;
  padding-right: 70px;
}

nav > ul > li:last-child > a::before {
  content: "\2630\0020";
}

nav > ul > li:last-child:hover > ul.all {
  height: 160px;
}

nav > ul > li:last-child:hover > ul.redacOrAdmin {
  height: 120px;
}

nav > ul > li:last-child:hover > ul.simpleUser {
  height: 80px;
}

/* Sous liste */
nav ul > li > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  border-radius: 0px 0px 10px 10px;
}

nav ul > li > ul > li {
  background-color: white;
  width: 100%;
}

/* --- Forms ---  */
table.form tr {
  position: relative;
}

table.form td, table.form {
  border: 0px;
  position: relative;
}

table.form td.label {
  text-align: right;
}

table.form td.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
}

table.form td.input select {
  border: 1px grey solid;
}

table.form td.input select:only-child {
  width: 207px;
  padding: 3px;
}

table.form td.checkbox {
  text-align: left;
  font-size: 0.95em;
}

table.form td.checkbox input[type="checkbox"] {
  margin-left: 40px;
}

table.form td.buttons {
  text-align: center;
}

table.form td.area textarea {
  max-width: 800px;
}

table.form td.area label {
  display: block;
  text-align: center;
  margin: 5px auto;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

table.form input[type="text"], table.form input[type="password"], table.form input[type="email"] {
  width: 200px;
  padding: 3px;
}

table.form tr.textarea, table.form.row tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table.form tr.textarea td, table.form.row tr td {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

table.form tr.textarea td:first-child, table.form.row tr td:first-child {
  padding-bottom: 0;
}

table.form tr.textarea td.input input[type="text"], table.form.row tr td.input input[type="text"] {
  width: 400px;
}

table.form input[type="radio"] {
  margin-right: 7px;
}

/* Button */
.btn {
  color: #af1f1f;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 8px;
  margin: 3px;
  background-color: transparent;
  border: 2px #af1f1f solid;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 450ms;
  transition: -webkit-box-shadow 450ms;
  transition: box-shadow 450ms;
  transition: box-shadow 450ms, -webkit-box-shadow 450ms;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 5px 2px #bababa;
          box-shadow: 0px 0px 5px 2px #bababa;
}

/* Pop up */
.popup-first-btn:checked + div.popup-night {
  opacity: 1;
  width: 200%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.popup-first-btn:checked + div.popup-night div.popup-box {
  opacity: 1;
  left: 35%;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5000;
  display: block;
  width: 26%;
  -webkit-transition: width 0s,opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  transition: width 0s,opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
  transition: width 0s,opacity 0.3s 0.2s, transform 0.3s 0.2s;
  transition: width 0s,opacity 0.3s 0.2s, transform 0.3s 0.2s,-webkit-transform 0.3s 0.2s;
}

div.popup-night {
  -webkit-transition: opacity 0.7s, width 0s 0.7s, height 0s 0.7s;
  transition: opacity 0.7s, width 0s 0.7s, height 0s 0.7s;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
}

div.popup-night div.popup-box {
  -webkit-transition: opacity 0.3s 0.2s, width 0s 1s, left 0s 0.7s, -webkit-transform 0.3s 0.2s;
  transition: opacity 0.3s 0.2s, width 0s 1s, left 0s 0.7s, -webkit-transform 0.3s 0.2s;
  transition: opacity 0.3s 0.2s, transform 0.3s 0.2s, width 0s 1s, left 0s 0.7s;
  transition: opacity 0.3s 0.2s, transform 0.3s 0.2s, width 0s 1s, left 0s 0.7s, -webkit-transform 0.3s 0.2s;
  background-color: white;
  padding: 25px;
  top: 40%;
  left: -35%;
  position: fixed;
  opacity: 0;
  z-index: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  width: 0px;
  border-radius: 10px;
}

div.popup-night div.popup-box label {
  font-size: 1.4em;
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

div.popup-night div.popup-box label:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  color: #af1f1f;
}

div.popup-night div.popup-box h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

div.popup-night div.popup-box p {
  margin: 5px;
  text-align: center;
}

#popup-exit, input.popup-first-btn {
  display: none;
}

/* tooltip */
.tooltip-icon {
  cursor: help;
  font-weight: bold;
  position: absolute;
  display: inline;
  font-size: small;
  right: -20px;
}

.tooltip-icon:hover .tooltip-content {
  right: -190px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: opacity .25s, right 0s, -webkit-transform .25s;
  transition: opacity .25s, right 0s, -webkit-transform .25s;
  transition: transform .25s, opacity .25s, right 0s;
  transition: transform .25s, opacity .25s, right 0s, -webkit-transform .25s;
}

.tooltip-icon .tooltip-content {
  font-weight: bold;
  opacity: 0;
  position: absolute;
  right: -19000px;
  width: 180px;
  text-align: center;
  color: #5a5a5a;
  font-size: 0.9em;
  z-index: 3;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 1px lightgrey;
          box-shadow: 0px 0px 10px 1px lightgrey;
  -webkit-transition: opacity .25s, right 0s 1s, -webkit-transform .25s;
  transition: opacity .25s, right 0s 1s, -webkit-transform .25s;
  transition: transform .25s, opacity .25s, right 0s 1s;
  transition: transform .25s, opacity .25s, right 0s 1s, -webkit-transform .25s;
  -webkit-transform: scale(0) rotate(12deg);
          transform: scale(0) rotate(12deg);
}

/* Articles list */
.articlesList article {
  position: relative;
  background-color: #E5E5E5;
  padding: 10px;
}

.articlesList article + article {
  margin-top: 10px;
}

.articlesList article a {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.articlesList article img {
  float: left;
  width: 160px;
  height: 120px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.articlesList article:first-of-type, .articlesList article:first-of-type img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.articlesList article:last-of-type, .articlesList article:last-of-type img {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* --------------------- PAGE ADMINISTRATION ---------------------*/
#administration tbody tr:last-child {
  border-bottom: hidden;
  border-left: hidden;
  border-right: hidden;
}

#administration tr:last-child td {
  text-align: center;
}

/* --------------------- PAGE ARTICLE ---------------------*/
#article article {
  -webkit-box-shadow: 10px 10px 30px 5px #333333;
          box-shadow: 10px 10px 30px 5px #333333;
  background-color: white;
  padding: 20px;
  border-radius: 10px 0px;
  padding-bottom: 5px;
}

#article article.with-picture {
  min-height: 250px;
}

#article article h3 {
  text-decoration: underline;
}

#article article img {
  float: right;
  margin: 0px 0px 20px 20px;
  width: 250px;
  height: 187px;
  border: solid 1px black;
}

#article article figure {
  display: inline-block;
  margin: 16px;
}

#article article footer {
  border-top: #909090 solid 2px;
  padding-top: 4px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#article article footer p {
  margin: 0px;
  font-size: 0.9em;
}

#article article ul {
  list-style-type: none;
}

#article article ul li::before {
  content: "\2611\0020";
}

#article section {
  margin-top: 50px;
  border-radius: 0px 10px 10px 10px;
}

#article section > p {
  margin-bottom: 6px;
}

#article section li {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#article section li::before {
  content: "\1F4AC";
  position: absolute;
  left: 20px;
}

#article section li > p {
  width: 100%;
}

#article section li blockquote {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  quotes: none;
  padding: 10px 13px;
  margin: 20px 0px 20px 20px;
}

#article section li blockquote:last-child {
  border-radius: 10px;
}

#article section li div {
  background-color: #22222208;
  padding: 10px 13px;
  border-radius: 0px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
  width: 0px;
}

#article section li div .btn {
  opacity: 0;
  margin: 0;
}

#article section li:hover div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#article section li:hover .btn {
  opacity: 1;
}

#article section fieldset {
  border: 1px solid grey;
  padding: 10px;
}

#article section fieldset form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#article section fieldset form .btn, #article section fieldset form textarea {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 800px;
}

#article section .error {
  border: none;
  padding: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 5px;
  margin-top: 0px;
}

/* --------------------- PAGE REDACTION ---------------------*/
#redaction article img {
  float: left;
  margin: 0px 20px 0px 0px;
  width: 150px;
  height: 200px;
  border: 1px solid black;
}

#redaction article h4 {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: black;
  padding: 5px 6px;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

#redaction article div.biography {
  padding-left: 170px;
}

#redaction article:not(:only-of-type) {
  border-top: 2px solid black;
  padding: 20px 0px 20px 0px;
  position: relative;
}

#redaction article:not(:only-of-type):last-child {
  padding-bottom: 0px;
}

#redaction article.haveFunction {
  border-top: 2px solid black;
  padding: 20px 0px 20px 0px;
  position: relative;
}

/* --------------------- PAGE ACCUEIL ---------------------*/
#accueil a figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
}

#accueil a figure aside {
  position: absolute;
  width: 250px;
  height: 0px;
  opacity: 0;
  background-color: rgba(169, 161, 156, 0.9);
  color: black;
  font-size: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s 0.4s ease-in-out;
  transition: all 0.3s 0.4s ease-in-out;
  overflow: hidden;
}

#accueil a figure aside p {
  font-size: 0.95em;
  margin: 15px;
  text-align: justify;
  overflow-wrap: anywhere;
}

#accueil a img {
  -webkit-box-shadow: 0 0 20px 10px lightgrey;
          box-shadow: 0 0 20px 10px lightgrey;
  width: 250px;
  height: 187px;
}

#accueil a:hover {
  text-decoration: none;
}

#accueil a:hover figure img {
  -webkit-box-shadow: 0px 0px 20px 5px grey;
          box-shadow: 0px 0px 20px 5px grey;
}

#accueil a:hover figure aside {
  height: 187px;
  opacity: 1;
}

#accueil section:not(#horoscope) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#horoscope table {
  width: 700px;
  font-size: 0.8em;
}

#horoscope table p {
  font-size: 1em;
}

#horoscope th:nth-child(1) {
  width: 105px;
}

#horoscope th:nth-child(2) {
  width: 110px;
}

#horoscope td:nth-child(2) {
  padding-right: 45px;
}

#horoscope td:nth-child(3) {
  padding: 10px 10px;
}

/* --------------------- PAGE ACTUS ---------------------*/
#actus section:first-of-type {
  border-radius: 7px;
}

#actus section:first-of-type p {
  display: inline;
}

#actus > section:first-of-type {
  display: block;
}

#actus > section:first-of-type > a {
  text-decoration: none;
  color: black;
  display: inline;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 1px 3px 1px 3px;
}

#actus > section:first-of-type > a#linkDown, #actus > section:first-of-type > a:hover {
  background-color: red;
  color: white;
}

#connexion table.form td.checkbox {
  text-align: center;
}

#connexion table.form td.checkbox label {
  margin-left: 3px;
}

/* --------------------- PAGE COMPTE---------------------*/
#compte section img {
  width: 150px;
  height: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid black;
  margin: 10px;
}

/* --------------------- PAGE EDITION ---------------------*/
#edition aside {
  margin-bottom: 50px;
}

#edition form {
  text-align: center;
}

/* --------------------- PAGE PROTEGEE ---------------------*/
#protegee h3 {
  margin-top: 10px;
}

#protegee li:not(:last-child) {
  margin-bottom: 10px;
}

/* --------------------- PAGE ACTUS ---------------------*/
#searchSection .error {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px;
}

#searchSection form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchSection form input[type="text"] {
  width: 500px;
  height: 20px;
}
/*# sourceMappingURL=gazette.css.map */